.exclusive-screen {
	background: #f7f7f7;
    padding: 77px 0;
}

.exclusive-screen__text {
    height: 120px;
    overflow: hidden;
}

.exclusive-screen__text.open {
	height: auto;
}

.exclusive-screen  .slick-next, .exclusive-screen  .slick-prev {
    background-position: -255px -121px;
    width: 40px;
    height: 40px;
	top: auto;
    bottom: -66px;
    left: calc(50% - 115px );
}

.exclusive-screen  .slick-next {
    background-position: -301px -122px;
	left: auto;
    right: calc(50% - 115px );
}

.exclusive {
	margin: 0 -25px;
}

.exclusive__item {
	box-sizing: border-box;
    width: 33.3333%;
	height: 375px;
    padding: 25px;
	position: relative;
}

.exclusive__inner {
	display: flex;
    box-sizing: border-box;
	background-color: #c3c2c2;
	border-radius: 3px;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	height: 100%;
}

@media screen and (min-width: 1279px) {

	.exclusive__item:nth-child(6n-1) {
		margin-top: -80px;
	}
	
	.exclusive__item:nth-child(6n-2) {
		margin-top: -40px;
	}
	
	.exclusive__item:nth-child(6n-1), 
	.exclusive__item:nth-child(3n-3) {
		height: 415px;
	}

	.exclusive__item:nth-child(6n-4), 
	.exclusive__item:nth-child(6n) {
		height: 335px;
	}
}

.exclusive__text {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: rgba(0,0,0,.702);
	width: 265px;
    padding: 35px;
}

.exclusive__caption {
	font: 700 18px "Muller";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.exclusive__price {
	font: 500 15px "Muller";
	color: rgb(255, 255, 255);
	text-align: center;
}


