.figures-screen {
    background: url(../images/red-bg.jpg) no-repeat center;
	background-size: cover;
	padding: 70px 0;
    overflow: hidden;
}

.figures__item {
    box-sizing: border-box;
	width: 25%;
    padding: 15px 25px;
	font: 700 16px "Muller";
	color: rgb(255, 255, 255);
	text-align: center;
}

.figures__quantity {
	font-size: 66px;
	margin-bottom: 5px;
	opacity: 0;
}

.figures__description {
	letter-spacing: 0.7px;
	line-height: 1.4;
    text-transform: uppercase;
	max-width: 200px;   
    margin: 0 auto;
}


/*media*/ 

@media screen and (max-width: 1279px) {
	
	.figures {
		margin: -30px -15px;
	}
	
	.figures__item {
		padding: 30px 15px;
		font-size: 14px;
	}
	
	.figures__quantity {
		font-size: 54px;
	}
	
}

@media screen and (max-width: 1023px) {
	.figures__item {
		width: 50%;
	}
	
	.figures__description{
		max-width: 180px;
	}
	
}

@media screen and (max-width: 767px) {
	
	
}

@media screen and (max-width: 639px) {
	.figures__quantity {
		font-size: 46px;
	}
	
	.figures__item {
		padding: 30px 10px; 
		font-size: 13px;
	}
	
}


