/*header*/

.header-first {
	box-sizing: border-box;
	background: #f0f0f0;
	color: rgb(80, 80, 80);
	padding: 7px 0 5px;
}

.header-first__geo {
    position: relative;
    padding-left: 25px;
    margin-right: 30px;
}

.header-first__geo:before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -9px -128px;
    width: 17px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -4px;
}

.header-first__mail {
	position: relative;
	padding-left: 30px;
	color: rgb(80, 80, 80);
}

.header-first__mail:before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -46px -131px;
    width: 25px;
    height: 18px;
    position: absolute;
    left: 0;
}

.header-second {
    padding: 13px 0;
}

.header-second__right {
    flex-wrap: nowrap;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
	display: block;
	background: url(../images/logo.png) no-repeat center;
	background-size: contain;
	width: 365px;
    height: 72px;
	text-decoration: none;
} 

.phone__number {
    display: block;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 2px;
}

.phone__number span {
	font-size: 28px;
	font-weight: 700;
}

.phone__text {
	font-size: 13px;
	color: rgb(97, 97, 97);
}

.button_header {
	max-width: 230px;
	margin-left: 40px;
}

.header-third {
	box-sizing: border-box;
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 1;
}

.menu {
	flex-wrap: nowrap;
	justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
}

.menu a {
    display: inline-block;
    font: 500 13px "Muller";
	letter-spacing: 0.6px;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 5px 16px;
	position: relative;
}

.menu li.menu-item-has-children>a {
	padding-right: 16px;
}

.menu li.menu-item-has-children>a:before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -138px -136px;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.menu a:hover{
	color: #cccccc;
    top: 1px;
}

header .menu>li:first-child>a {
   padding-left: 0;
}

header .menu>li:last-child>a {
   padding-right: 0;
}

.sub-menu {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.25);
    position: absolute;
    width: 100%;
    top: 47px;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: none;
    padding: 30px calc((100% - 1250px)/ 2) 5px;
    display: none;
    flex-wrap: wrap;
}

.menu li:hover .sub-menu {
    display: flex;
	flex-direction: column;
    max-height: 455px;
}

.sub-menu__item {
    box-sizing: border-box;
    width: 16.6666%;
    padding: 0 8px 20px;
    position: relative;
}

.sub-menu__item>a {
	display: block;
    position: relative;
    font: 700 13px Muller;
    color: #000000;
    text-transform: none;
    text-decoration: none;
    padding: 11px 0;
    text-transform: uppercase;
}

.sub-menu__item>a:hover{
	color: rgb(175, 0, 0);
	top:0;
}

.sub-menu ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-menu__item_small>a {
    display: block;
    font: 400 14px Muller;
    color: #505050;
    text-transform: none;
    text-decoration: none;
    padding: 5px 0;
    padding-right: 0; 
    letter-spacing: 0;
}

.sub-menu__item_small>a:hover{
	color: rgb(175, 0, 0); 
}

/*burger*/

.burger {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto 0 auto 30px;
	background: #af0000;
    border-radius: 2px;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 26px;
    background: #fff;
    position: absolute;
    top: 11px;
    right: 7px;
    transition: all .2s ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
    top: 8px;
}

.burger span::after {
    content: '';
    left: 0;
    top: 16px;
}

.burger_active span {
    background-color: transparent;
}
    
.burger_active span::before  {
    transform: rotate(45deg);
}

.burger_active span::after  {
    transform: rotate(-45deg);
    top: 8px;
} 


/*media*/ 

@media screen and (max-width: 1279px) {
	.button_header {
		display: none;
	}
	   
    header .navbar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
		z-index: 1;
    }
	
	header .menu {
		display: block;
	}
    
    header .menu>li>a {
        box-sizing: border-box;
        color: #000000;
        border-top:1px solid #ececec;
		text-align: center;
        width: 100%;
		padding: 22px 20px 19px;
    }
	
	.menu li.menu-item-has-children a {
		padding-right: 22px;
	}

	.menu li.menu-item-has-children>a:before {
		display: none;
	}
	
	header .menu>li:first-child>a {
	   padding-left: 20px;
	}

	header .menu>li:last-child>a {
	   padding-right: 20px;
	}
    
    header .menu li:hover .sub-menu {
        display: none;
    }
    
    header .sub-menu {
		box-shadow: none;
		position: static;
		width: 100%;
		padding: 15px 0;
		border-top: 1px solid #ececec;
		background: #f9f9f9;
    } 
    
    header .sub-menu__item {
        max-width: none;
        width: 100%;
		padding: 0;
        margin: 0;
    }
    
    header .sub-menu__item>a {
		text-align: center;
		padding: 14px 20px;
		font-weight: 500;
    }
    
    header .sub-menu ul {
        display: none;
    }
    
    .burger {
        display: block;
    }
	
	.sub-menu__item_small>a{
		padding: 11px 20px;
		text-align: center;
	}
	
	.header-second {
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
	}
	
}

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {

	.header-first{
	    padding: 4px 0 2px;
	}
	
	.header-first__geo {
		margin: 0 auto;
		padding: 0;
		font-size: 12px;
	}
	
	.header-first__geo:before{
		display: none;
	}
	
    .header-first__mail {
		display: none;
	}
	
	.header-second .wrapper {
		flex-direction: column;
	}
	
	.logo { 
		margin: 6px auto 7px;
	}
	
	.header-second{
		padding:0;
	}
	
	.header-second__right {
		justify-content: space-between;
		border-top: 1px solid #cdcdcd;  
		padding: 10px 0;
	}
	
	.phone__number {
		font-size: 20px;
	}
	
	.phone__number span {
		font-size: 24px;
	}
	
	.phone__text {
		font-size: 11.5px;
	}
	
	
}

@media screen and (max-width: 639px) {
   .logo {
		width: 340px;
		height: 60px;
	}
	
}