/*partners*/

.partners {
    background: #e6e6e6;
    padding: 75px 0;
	overflow: hidden;
}

.partners__inner {
    margin: -15px;
}

.partners__item{
    box-sizing: border-box;
    width: 16.6666%;
    padding: 15px;
}

.partners__partner {
    display: block; 
	width: 100%;
	background: #fff;
} 

/*media*/ 

@media screen and (max-width: 1279px) {
	.partners__inner {
		margin: -15px;
	}
	
	.partners {
		padding: 45px 0;
	}
}

@media screen and (max-width: 1023px) {
	.partners__item {
		width: 33.3333%;
	}
}

@media screen and (max-width: 767px) {
    .partners__inner {
		margin: -15px;
	}
}

@media screen and (max-width: 639px) {
	
    .partners__item {
		width: 50%;
	}
	
}

