/*partners*/

.partners {
    background: #e6e6e6;
    padding: 50px 0;
}

.partners__inner {
    margin: 0 -15px;
}

.partners__item{
    box-sizing: border-box;
    width: 16.6666%;
    padding: 0 15px;
}

.partners__partner {
    display: block;
	background: url(../../images/brands.png) no-repeat -875px 0;
    width: 175px;
    height: 175px;
    margin: 0 auto;
}

.partners__item_pongs .partners__partner {
    background-position: -700px 0;
}

.partners__item_descor .partners__partner {
    background-position: -525px 0;
}

.partners__item_clipso .partners__partner {
    background-position: -350px 0;
}

.partners__item_renolit .partners__partner {
    background-position: -175px 0;
}

.partners__item_ecola .partners__partner {
    background-position: 0 0;
}