/*course-types*/

.types-screen {
	background: #f7f7f7;
	padding: 82px 0;
	position: relative;
	overflow: hidden;
}

.types-screen__bg {
    background-color: #fff;
    width: 2000px;
    height: 1000px;
    position: absolute;
    top: -300px;
    right: calc(50% + 163px);
    transform: rotate(13deg);
}

.types-screen .wrapper {
	flex-wrap: nowrap;
	position: relative;
}

.types-screen__lamp {
    background: url(../images/lamps-1.jpg) no-repeat center;
    width: 120px;
    height: 420px;
    position: absolute;
    top: -83px;
    left: -92px;
}

.types-screen__text {
	box-sizing: border-box;
	flex: 1;
	padding: 0 50px 0 0;
}

.types-screen__content {
	height: 270px;
	overflow: hidden;
}

.types-screen__content.open {
	overflow-y: scroll;
}

.types-screen__content p {
	font-size: 18px;
	color: rgb(80, 80, 80);
	margin: 0 0 15px;
	position: relative;
}

.types-screen__button {
	max-width: 240px;
	margin-top: 40px;
}

.types-screen__plates {
	width: 70%;
}

.plates-line {
	margin: -15px;
}

.plates-line__item {
	box-sizing: border-box;
	width: 33.3333%;
	padding: 15px;
}

.plates-line__inner {
	display: flex;
    align-items: flex-end;
	background: #fff;
	background-size: 100% 100%;
	border-radius: 3px;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
	transition: all 0.2s linear;
	overflow: hidden;
}

.plates-line__inner:hover{
	background-size: 120% 120%;
}

.plates-line__line {
	width: 100%;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.749);
	padding: 15px 15px 20px;
	font-weight: 500;
	text-align: center;
}

.plates-line__item:nth-child(even) .plates-line__line {
	background-color: rgba(175, 0, 0, 0.85);
}

.plates-line__caption {
	font-size: 18px;
	color: rgb(255, 255, 255);
	margin-bottom: 5px;
}

.plates-line__price {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	line-height: 30px;
	padding: 0 15px;
}




/*media*/ 

@media screen and (min-width: 1921px) {
    
}

@media screen and (max-width: 1279px) { 
	
	.types-screen {
		padding: 62px 0;
	}
	
	.types-screen .wrapper {
		flex-direction: column;
		align-items: center;
	}
	
	.types-screen__lamp {
		display: none;
	}

	.types-screen__text, .types-screen .caption_left, .types-screen .description_left  {
		text-align: center;
		padding: 0;
	}
	
	.types-screen__text{
		margin-bottom:30px;
	}
	
	.types-screen__button {
		display: none;
	}
	
	.types-screen__plates {
		width: 100%;
	}
}

@media screen and (max-width: 1023px) {
	.types-screen {
		background: #ffffff;
	}
	
	.types-screen__bg {
		display: none;
	}
	
	.plates-line__caption {
		font-size: 17px;
	}
	
	
}

@media screen and (max-width: 767px) {
	.types-screen__button {
		display: none;
	} 
	
	.plates-line__item {
		width: 50%;
	}
	
	.types-screen__content p {
		font-size: 16px;
	}
	
	
}

@media screen and (max-width: 639px) {
	
	
	.plates-line__item {
		width: 100%;
		max-width: 330px;
		margin: 0 auto;
		padding: 20px 0;
	}
	
}

