<footer>
	<div class="footer-top">
		<div class="wrapper">
			<div class="footep-top__menu-line flex_between">
				<div class="footep-top__columns flex">
					<div class="footer-menu">
						<div class="footer-menu__caption">Каталог потолков</div>
						<nav class="navbar">
							<ul class="menu">
								<li>
									<a href="#">По фактуре</a>
								</li>
								<li>
									<a href="#">По помещению</a>
								</li>
								<li>
									<a href="#">По материалу</a>
								</li>
								<li>
									<a href="#">По произодителю</a>
								</li>
								<li>
									<a href="#">По торговой марке</a>
								</li>
								<li>
									<a href="#">Дизайнерские</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="footer-menu">
						<div class="footer-menu__caption">Информация</div>
						<nav class="navbar">
							<ul class="menu">
								<li>
								   <a href="#">Отзывы</a>
								</li>
								<li>
									<a href="#">Оплата</a>
								</li>
								<li>
									<a href="#">Цены</a>
								</li>
								<li>
									<a href="#">Диллерам</a>
								</li>
								<li>
									<a href="#">О нас</a>
								</li>
								<li>
									<a href="#">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="contacts">
					<div class="phone">
						<a href="tel:86776555" class="phone__number"><span>8 (499)</span> 677-65-55</a>
						<div class="phone__text">Работаем без выходных, с 8 до 21</div>
					</div>
					<a href="#order" data-fancybox="" class="contacts__button button button_with-icon">Вызвать замерщика</a>
					<a href="mailto:potolokinfo.ru@yandex.ru" class="contacts__mail">potolokinfo.ru@yandex.ru</a>
					<div class="social flex">
						<a href="#" class="social__icon social__icon_fb" target="_blank" ></a>
						<a href="#"  class="social__icon social__icon_tweet" target="_blank" ></a>
						<a href="#" class="social__icon social__icon_vk" target="_blank" ></a>
						<a href="#"  class="social__icon social__icon_insta" target="_blank" ></a>
						<a href="#" class="social__icon social__icon_youtube" target="_blank" ></a>
					</div>
			   </div>
			</div>
			<div class="footer-top__line"></div>
			<p>Быстрая связь с оператором. Позвонив по номеру, без проблем получить консультацию с предварительной стоимостью и вызвать замерщика уже сегодня совершенно бесплатно. Вам разъяснят основные принципы партнёрства, составления сметы, заключения договорных обязательств и ответят на интересующие вопросы. Если удобно оставить заявку, то вам перезвонят в кратчайший период.</p>
			<p>Выгодные акции. Реальные отзывы заказчиков, оставшихся довольными, дополнят картину и помогут сделать правильный выбор. Повторные обращения всегда радуют не только нас, но и вас: скидки и бонусы приятно удивят!</p>
			<p>Все материалы, находящиеся на сайте, охраняются в соответствии с законодательством, в том числе, об авторском праве и смежных правах. Я согласен с <a href="#" class="policy">Политикой конфиденциальности</a></p>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="wrapper flex_between"> 			          
			<div class="sitename">&copy; 2014 - 2019   Новый стиль потолковъ</div>
            <div class="developers">Разработка сайта: <a href="https//weblamas.com" rel="nofollow">WebLamas</a></div>
		</div>
	</div>  
</footer>
