<header>
	<div class="header-first">
		<div class="wrapper flex">
			<div class="header-first__geo">Натяжные потолки в Москве и МО</div>
			<a href="mailto:potolokinfo.ru@yandex.ru" class="header-first__mail">potolokinfo.ru@yandex.ru</a>
		</div>
	</div>
	<div class="header-second">
		<div class="wrapper flex_between">
			<a href="/" class="logo"></a>
			<div class="header-second__right flex">
				<div class="phone">
					<a href="tel:86776555" class="phone__number"><span>8 (499)</span> 677-65-55</a>
					<div class="phone__text">Работаем без выходных, с 8 до 21</div>
				</div>
				<a href="#order" data-fancybox="" class="button button_with-icon button_header">Вызвать замерщика</a>
				<div class="burger">
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="header-third">
		<div class="wrapper">
			<nav class="navbar">
				<ul class="menu flex">
					<li>
						<a href="#">Главная</a>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Каталог потолков</a>
						<ul class="sub-menu">              
                            <li class="sub-menu__item sub-menu-item-has-children">
                                <a href="#">Матовые потолки</a>
                                <ul>
                                    <li class="sub-menu__item_small small-sub-menu-item-has-children">
                                        <a href="#">Матовые потолки1</a>
                                    </li>
                                    <li class="sub-menu__item_small small-sub-menu-item-has-children">
                                        <a href="#">Матовые потолки2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu-item-has-children">
                                <a href="#">Тканевые потолки</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Тканевые потолки1</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Тканевые потолки2</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Тканевые потолки3</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Тканевые потолки4</a></li>
                                </ul>
                            </li>
                        </ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Светильники</a>
						<ul class="sub-menu">              
                            <li class="sub-menu__item sub-menu-item-has-children">
                                <a href="#">Светильники яркие</a>
                                <ul>
                                    <li class="sub-menu__item_small small-sub-menu-item-has-children">
                                        <a href="#">Светильники яркие1</a>
                                    </li>
                                    <li class="sub-menu__item_small small-sub-menu-item-has-children">
                                        <a href="#">Светильники яркие2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
					</li>
					<li>
						<a href="#">Информация</a>
					</li>
					<li>
					   <a href="#">Отзывы</a>
					</li>
					<li>
						<a href="#">Калькулятор</a>
					</li>
					<li>
					   <a href="#">Акции</a>
					</li>
					<li>
						<a href="#">Дилерам</a>
					</li>
					<li>
					   <a href="#">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>