<header>
	<div class="header-first">
		<div class="wrapper flex">
			<div class="header-first__geo">Натяжные потолки в Москве и МО</div>
			<a href="mailto:potolokinfo.ru@yandex.ru" class="header-first__mail">potolokinfo.ru@yandex.ru</a>
		</div>
	</div>
	<div class="header-second">
		<div class="wrapper flex_between">
			<a href="/" class="logo"></a>
			<div class="header-second__right flex">
				<div class="phone">
					<a href="tel:86776555" class="phone__number"><span>8 (499)</span> 677-65-55</a>
					<div class="phone__text">Работаем без выходных, с 8 до 21</div>
				</div>
				<a href="#order" data-fancybox="" class="button button_with-icon button_header">Вызвать замерщика</a>
				<div class="burger">
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="header-third">
		<div class="wrapper">
			<nav class="navbar">
				<ul class="menu flex">
					<li>
						<a href="#">Главная</a>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Каталог потолков</a>
						<ul class="sub-menu">
	<li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-po-pomeshcheniyu/">По помещению</a>
	<ul>
		<li id="menu-item-5005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5005 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-kuhnya/">На кухню</a></li>
		<li id="menu-item-5006" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5006 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-detskaya/">В детскую комнату</a></li>
		<li id="menu-item-5007" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5007 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-spalnya/">В спальню</a></li>
		<li id="menu-item-5008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5008 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-vannaya/">В ванную</a></li>
		<li id="menu-item-5009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5009 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-tualet/">В туалет</a></li>
		<li id="menu-item-5010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5010 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-gostinaya/">В гостиную</a></li>
		<li id="menu-item-5011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5011 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-prihozhaya/">В прихожую</a></li>
		<li id="menu-item-5012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5012 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-zal/">В зал</a></li>
		<li id="menu-item-5013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5013 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-balkon/">На балкон</a></li>
		<li id="menu-item-5014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5014 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-lodzhiya/">На лоджию</a></li>
		<li id="menu-item-5015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5015 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-mansarda/">На мансарду</a></li>
		<li id="menu-item-5016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5016 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-koridor/">В коридор</a></li>
	</ul>
</li>
	<li id="menu-item-5050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5050 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-dizaynerskie/">Дизайнерские</a>
	<ul>
		<li id="menu-item-5058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5058 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-dvuhurovnevye/">2-уровневые</a></li>
		<li id="menu-item-5061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5061 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-mnogourovnevye/">Многоуровневые</a></li>
		<li id="menu-item-5065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5065 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-s-fotopechatyu/">С фотопечатью</a></li>
		<li id="menu-item-5072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5072 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-zvezdnoe-nebo/">Звездное небо</a></li>
		<li id="menu-item-5073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5073 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-paryashchiy/">Парящий</a></li>
		<li id="menu-item-5074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5074 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-konturnye/">Контурные</a></li>
		<li id="menu-item-5075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5075 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-svetovye-linii/">Световые линии</a></li>
		<li id="menu-item-5076" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5076 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-reznye-apply/">Резные apply</a></li>
		<li id="menu-item-5077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5077 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-3d/">3D потолки</a></li>
		<li id="menu-item-5078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5078 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-s-diodnoy-podsvetkoy/">С диодной подсветкой</a></li>
		<li id="menu-item-5079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5079 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-s-led-podsvetkoy/">С лед подсветкой</a></li>
		<li id="menu-item-5080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5080 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-s-podsvetkoy-dvuhurovnevye/">C подсветкой 2-уровневые</a></li>
		<li id="menu-item-5081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5081 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-prozrachnye/">Прозрачные</a></li>
		<li id="menu-item-5082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5082 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-poluprozrachnye/">Полупрозрачные</a></li>
		<li id="menu-item-5083" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5083 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-skrytyy-karniz/">Скрытый карниз</a></li>
	</ul>
</li>
	<li id="menu-item-5018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5018 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-zhiloe-pomeshchenie/">В жилое помещение</a>
	<ul>
		<li id="menu-item-5019" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5019 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-kottedzh/">В коттедж</a></li>
		<li id="menu-item-5020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5020 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-taunhaus/">В таунхаус</a></li>
		<li id="menu-item-5021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5021 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-kvartira-studiya/">В квартиру студию</a></li>
		<li id="menu-item-5022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5022 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-novostroyka/">В новостройке</a></li>
		<li id="menu-item-5023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5023 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-dom/">В дом</a></li>
	</ul>
</li>
	<li id="menu-item-5024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5024 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-proizvoditel/">По производителю</a>
	<ul>
		<li id="menu-item-5025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5025 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-rossiya/">Россия</a></li>
		<li id="menu-item-5026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5026 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-kitay/">Китай</a></li>
		<li id="menu-item-5027" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5027 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-germaniya/">Германия</a></li>
		<li id="menu-item-5028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5028 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-franciya/">Франция</a></li>
		<li id="menu-item-5029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5029 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-italiya/">Италия</a></li>
		<li id="menu-item-5030" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5030 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-belgiya/">Бельгия</a></li>
		<li id="menu-item-5031" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5031 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-shveycariya/">Швейцария</a></li>
	</ul>
</li>
	<li id="menu-item-5032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5032 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-torgovye-marki/">По торговой марке</a>
	<ul>
		<li id="menu-item-5033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5033 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-msd/">MSD</a></li>
		<li id="menu-item-5034" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5034 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-polyplast/">Polyplast</a></li>
		<li id="menu-item-5035" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5035 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-pongs/">Pongs</a></li>
		<li id="menu-item-5036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5036 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-renolit/">Renolit</a></li>
		<li id="menu-item-5037" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5037 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-descor/">Descor</a></li>
		<li id="menu-item-5038" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5038 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-clipso/">Clipso</a></li>
	</ul>
</li>
	<li id="menu-item-4278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4278 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-yuridicheskimi-licami/">Юр. лицам</a>
	<ul>
		<li id="menu-item-4279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4279 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-v-tehnicheskoe-pomeshchenie/">В тех. помещение</a></li>
		<li id="menu-item-4280" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4280 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-gostinica/">В гостиницу</a></li>
		<li id="menu-item-4281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4281 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-basseyn/">В бассейне</a></li>
		<li id="menu-item-4282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4282 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-ofis/">В офис</a></li>
		<li id="menu-item-4283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4283 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-bolnicy/">В больницу</a></li>
		<li id="menu-item-4284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4284 sub-menu__item_small"><a href="http://potolok.weblamas.com/natyazhnye-potolki-detskiy-sad/">В детский сад</a></li>
	</ul>
</li>
	<li id="menu-item-4272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4272 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/po-materialu-natyazhnye-potolki/">По материалу</a>
	<ul>
		<li id="menu-item-4273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4273 sub-menu__item_small"><a href="http://potolok.weblamas.com/pvh-natyazhnye-potolki/">ПВХ</a></li>
		<li id="menu-item-4274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4274 sub-menu__item_small"><a href="http://potolok.weblamas.com/tkanevye-natyazhnye-potolki/">Тканевые</a></li>
	</ul>
</li>
	<li id="menu-item-4275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4275 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/montazh-natyazhnyh-potolkov/">Монтаж</a>
	<ul>
		<li id="menu-item-4276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4276 sub-menu__item_small"><a href="http://potolok.weblamas.com/montazh-natyazhnyh-potolkov-s-nagrevom/">С нагревом</a></li>
		<li id="menu-item-4277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4277 sub-menu__item_small"><a href="http://potolok.weblamas.com/montazh-natyazhnyh-potolkov-bez-nagreva/">Без нагрева</a></li>
	</ul>
</li>
	<li id="menu-item-4268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4268 sub-menu__item sub-menu-item-has-children"><a href="http://potolok.weblamas.com/natyazhnye-potolki-po-fakture/">По фактуре</a>
	<ul>
		<li id="menu-item-4269" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4269 sub-menu__item_small"><a href="http://potolok.weblamas.com/satinovye-natyazhnye-potolki/">Сатиновые</a></li>
		<li id="menu-item-4270" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4270 sub-menu__item_small"><a href="http://potolok.weblamas.com/matovye-natyazhnye-potolki/">Матовые</a></li>
		<li id="menu-item-4271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4271 sub-menu__item_small"><a href="http://potolok.weblamas.com/glyancevye-natyazhnye-potolki/">Глянцевые</a></li>
	</ul>
</li>
</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Светильники</a>
						<ul class="sub-menu">              
                            <li class="sub-menu__item sub-menu-item-has-children">
                                <a href="#">Светильники яркие</a>
                                <ul>
                                    <li class="sub-menu__item_small small-sub-menu-item-has-children">
                                        <a href="#">Светильники яркие1</a>
                                    </li>
                                    <li class="sub-menu__item_small small-sub-menu-item-has-children">
                                        <a href="#">Светильники яркие2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
					</li>
					<li>
						<a href="#">Информация</a>
					</li>
					<li>
					   <a href="#">Отзывы</a>
					</li>
					<li>
						<a href="#">Калькулятор</a>
					</li>
					<li>
					   <a href="#">Акции</a>
					</li>
					<li>
						<a href="#">Дилерам</a>
					</li>
					<li>
					   <a href="#">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>