<div class="main-screen main-city">
	<div class="main-city__bg"></div>
	<div class="wrapper flex_between">	 
		<div class="main-city__text">
			<h1 class="main-city__caption">Натяжные потолки Домодедово</h1>
			<div class="main-screen__after-caption main-city__after-caption">Скидка -25% для вашего города!</div> 
			<div class="stock-city">
				<div class="stock-city__inner">
				<div class="stock-city__caption">До конца акции осталось:</div>
					<div class="stock-city__timer timer">
						<div class="timer__item">
							<div class="timer__number timer__number_days">01</div>
							<div class="timer__subtitle">дней</div>
						</div>
						<div class="timer__dobledots">:</div>
						<div class="timer__item">
							<div class="timer__number timer__number_hours">08</div>
							<div class="timer__subtitle">часов</div>
						</div>
						<div class="timer__dobledots">:</div>
						<div class="timer__item">
							<div class="timer__number timer__number_minutes">55</div>
							<div class="timer__subtitle">минут</div>
						</div>
						<div class="timer__dobledots">:</div>
						<div class="timer__item">
							<div class="timer__number timer__number_seconds">26</div>
							<div class="timer__subtitle">секунд</div>
						</div>
					</div> 
				</div> 
			</div>
			
		</div> 		

		<div class="main-city__people"></div>
		
		<div class="calculator">
			<div class="calculator__caption">Зацените цену!</div>
			<div class="calculator__inputs flex">
				<div class="calculator__input-wr">
					<div class="calculator__label">Площадь:</div>
					<input type="text" name="area" value="10 м&sup2;" class="calculator__input calculator__input_area">
				</div>
				<div class="calculator__input-wr">
					<div class="calculator__label">Светильников:</div>
					<input type="text" name="lights" value="1 шт." class="calculator__input calculator__input_lights">
				</div>
			</div>
			<div class="calculator__price flex">
				<div class="calculator__price-amount">4 500</div> 
				<div class="calculator__price-rub">руб.</div>
			</div>
			<input class="calculator__price-input" type="hidden" name="quickPrice" value="">
			<a href="#order" data-fancybox="" class="button button_two-rows wpcf7-submit">
				<div class="button__text1">Вызвать замерщика</div>
				<div class="button__text2">И получить скидку</div>
			</a>
		</div>
	</div>
</div>