<div class="main-screen">
	<div class="main-screen__bg"></div>
	<div class="wrapper flex_between">	 
		<div class="main-screen__text">
			<h1 class="main-screen__caption">Натяжной потолок</h1>
			<div class="main-screen__after-caption">Тот самый, лучший в Москве!</div>
			<div class="small-plates flex">
				<div class="small-plates__item">
					<div class="small-plates__content">
						<div class="small-plates__icon"></div>
						<div class="small-plates__text">Цены Космос</div>
					</div>
				</div>
				<div class="small-plates__item small-plates__item_quality">
					<div class="small-plates__content">
						<div class="small-plates__icon"></div>
						<div class="small-plates__text">Качество бомба</div>
					</div>
				</div>
				<div class="small-plates__item small-plates__item_presents">
					<div class="small-plates__content">
						<div class="small-plates__icon"></div>
						<div class="small-plates__text">Подарки каждому</div>
					</div>
				</div>
			</div>	
		</div>			
		<div class="slider">
			<div class="slides">
				<div class="slide" data-background="../images/slider-1.png">
					<div class="radial-pulse">
						<div class="radial-pulse__content">
							<div class="radial-pulse__text1">25%</div>
							<div class="radial-pulse__text2">Новоселам</div>
						</div>
					</div>
				</div>
				<div class="slide" data-background="../images/slider-2.png">
					<div class="radial-pulse">
						<div class="radial-pulse__content">
							<div class="radial-pulse__text1">30%</div>
							<div class="radial-pulse__text2">Пенсионерам</div>
						</div>
					</div>
				</div>
				<div class="slide" data-background="../images/slider-3.png">
					<div class="radial-pulse">
						<div class="radial-pulse__content">
							<div class="radial-pulse__text1">25%</div>
							<div class="radial-pulse__text2">Новоселам</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
		<div class="calculator">
			<div class="calculator__caption">Зацените цену!</div>
			<div class="calculator__inputs flex">
				<div class="calculator__input-wr">
					<div class="calculator__label">Площадь:</div>
					<input type="text" name="area" value="10 м&sup2;" class="calculator__input calculator__input_area">
				</div>
				<div class="calculator__input-wr">
					<div class="calculator__label">Светильников:</div>
					<input type="text" name="lights" value="1 шт." class="calculator__input calculator__input_lights">
				</div>
			</div>
			<div class="calculator__price flex">
				<div class="calculator__price-amount">4 500</div> 
				<div class="calculator__price-rub">руб.</div>
			</div>
			<input class="calculator__price-input" type="hidden" name="quickPrice" value="">
			<a href="#order" data-fancybox="" class="button button_two-rows wpcf7-submit">
				<div class="button__text1">Вызвать замерщика</div>
				<div class="button__text2">И получить скидку</div>
			</a>
		</div>
	</div>
</div>