<ul class="right-menu">
	<li class="right-menu__item_calculator"><a href="#">Калькулятор</a></li>
	<li class="right-menu__item_constructor"><a href="#">Конструктор</a></li>
	<li class="right-menu__item_payment"><a href="#">Оплата</a></li>
	<li class="right-menu__item_delivery"><a href="#">Доставка</a></li>
	<li class="right-menu__item_measure"><a href="#">Бесплатный замер по Москве и МО</a></li>
	<li class="right-menu__item_fast"><a href="#">Монтаж на следующий день</a></li>
	<li class="right-menu__item_production"><a href="#">Собственное производство</a></li>
	<li class="right-menu__item_workers"><a href="#">Опытные монтажники</a></li>
	<li class="right-menu__item_warranty"><a href="#">Гарантия на работы и материалы</a></li>
	<li class="right-menu__item_certificates"><a href="#">Сертификаты</a></li>
	<li class="right-menu__item_return"><a href="#">Политика возврата</a></li>
	<li class="right-menu__item_dealers"><a href="#">Дилер — книга знаний</a></li>
	<li class="right-menu__item_repairs"><a href="#">Ремонт потолка</a></li>
	<li class="right-menu__item_jobs"><a href="#">Вакансии</a></li>
</ul>