	<div class="steps-screen">
		<div class="wrapper"> 
			<div class="steps-screen__arrow"></div>
			<div class="steps-screen__arrow"></div>
			<div class="steps-screen__arrow"></div>
			<div class="steps flex">
				<div class="steps__item steps__item_request">
					<div class="steps__icon"></div>
					<div class="steps__caption">1. Заявка</div>
					<div class="steps__text">позвоните нам или оставьте заявку на сайте</div> 
				</div>
				<div class="steps__item steps__item_consultation">
					<div class="steps__icon"></div>
					<div class="steps__caption">2. Консультация</div>
					<div class="steps__text">замерщик-технолог бесплатно выедет к вам и составит смету</div> 
				</div>
				<div class="steps__item steps__item_contract">
					<div class="steps__icon"></div>
					<div class="steps__caption">3. Договор</div>
					<div class="steps__text">заключим официальный договор с вами</div> 
				</div>
				<div class="steps__item steps__item_installation">
					<div class="steps__icon"></div>
					<div class="steps__caption">4. Установка</div>
					<div class="steps__text">установим ваш натяжной потолок через 1 день</div> 
				</div>
			</div>
		</div>
	</div> 