<div class="stock">
	<div class="stock__caption">Скидка 15%</div>
	<div class="stock__small-caption">До конца акции:</div>
	
	<div class="timer">
		<div class="timer__item">
			<div class="timer__number timer__number_hours">08</div>
			<div class="timer__subtitle">часов</div>
		</div>
		<div class="timer__dobledots">:</div>
		<div class="timer__item">
			<div class="timer__number timer__number_minutes">55</div>
			<div class="timer__subtitle">минут</div>
		</div>
		<div class="timer__dobledots">:</div>
		<div class="timer__item">
			<div class="timer__number timer__number_seconds">26</div>
			<div class="timer__subtitle">секунд</div>
		</div>
	</div>
	
	<button class="stock__button button button_pulse">Заказать по скидке</button>
</div>