<div class="types-screen">
	<div class="types-screen__bg"></div>
	<div class="types-screen__lamp"></div>
	<div class="wrapper flex">
		<div class="types-screen__text">
			<h2 class="caption caption_left">Все виды натяжных потолков</h2>
			<div class="types-screen__content">
				<div class="description description_left"><b>Натяжные потолки в современном ремонте</b> пользуются колоссальным спросом. Во время высоких технологических изменений необходимо оставаться на высоте — сохранять конкурентоспособность. Наша компания «Новый стиль» следует свежим направлениям, появившимся сравнительно недавно. Установка, произведенная нашими специалистами.... <span class="more-info">Подробнее</span></div>
				<div class="description description_left"><b>Натяжные потолки в современном ремонте</b> пользуются колоссальным спросом. Во время высоких технологических изменений необходимо оставаться на высоте — сохранять конкурентоспособность. Наша компания «Новый стиль» следует свежим направлениям, появившимся сравнительно недавно. Установка, произведенная нашими специалистами</div>
			</div>
			<a href="#" class="types-screen__button button">Смотреть весь каталог</a>
		</div>
	    <div class="types-screen__plates plates-line flex">
			<div class="plates-line__item plates-line__item_mat">
				<a href="#" class="plates-line__inner">
					<div class="plates-line__line">
						<div class="plates-line__caption">Матовые потолки</div>
						<div class="plates-line__price">от 400 руб./м&sup2;</div>
					</div>
				</a>
			</div>
			<div class="plates-line__item plates-line__item_satin">
				<a href="#" class="plates-line__inner">
					<div class="plates-line__line">
						<div class="plates-line__caption">Сатиновые потолки</div>
						<div class="plates-line__price">от 450 руб./м&sup2;</div>
					</div>
				</a>
			</div>
			<div class="plates-line__item plates-line__item_glossy">
				<a href="#" class="plates-line__inner">
					<div class="plates-line__line">
						<div class="plates-line__caption">Глянцевые потолки</div>
						<div class="plates-line__price">от 500 руб./м&sup2;</div>
					</div>
				</a>
			</div>
			<div class="plates-line__item plates-line__item_fabric">
				<a href="#" class="plates-line__inner">
					<div class="plates-line__line">
						<div class="plates-line__caption">Тканевые потолки</div>
						<div class="plates-line__price">от 1000 руб./м&sup2;</div>
					</div>
				</a>
			</div>
			<div class="plates-line__item plates-line__item_two-level">
				<a href="#" class="plates-line__inner">
					<div class="plates-line__line">
						<div class="plates-line__caption">Двухуровневые</div>
						<div class="plates-line__price">от 1300 руб./м&sup2;</div>
					</div>
				</a>
			</div>
			<div class="plates-line__item plates-line__item_lights">
				<a href="#" class="plates-line__inner">
					<div class="plates-line__line">
						<div class="plates-line__caption">Потолки с подсветкой</div>
						<div class="plates-line__price">от 800 руб./м&sup2;</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>